<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="InstalledApplicationDirectory" value="C:\Program Files\MyApp" />
    <add key="ApplicationFileName" value="MyApp.exe" />
    <add key="ProductCode" value="!!!ENTER GUID HERE!!!" />
    <add key="InstallPackagesPath" value="\\SharedLocation\DirectoryWithInstallers" />
    <add key="InstallerPackageX86" value="installers32.zip" />
    <add key="InstallerPackageX64" value="installers64.zip" />
    <add key="InstallerFileName" value="MyAppSetup.msi" />
    <add key="InstallerAdditionalParameters" value="" />
    <add key="BSA.ConfigSelectorPath" value="\\SharedLocation\BSA Config Selector\BSA.ConfigSelector.ConsoleApp.exe" />
  </appSettings>
</configuration>